@font-face {
    font-family: 'RobotoMono';
    src: url('./fonts/RobotoMono-Regular.ttf');
}

* {
    font-family: 'RobotoMono', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right, rgb(83, 106, 118), rgb(41, 46, 73));

}